<% if @asset && @asset.mappable? %>
	<div id="_sidebarMap" class="_smallMap">
	</div>
	<% if current_user.is_admin? %>
		<ul>
			<li id="mapstatus">
			</li>
		</ul>
		<div class="_centerAlign">
		 <%= submit_to_remote 'update_button', 'Update location and zoom level',
		 	:method => :put,
		    :update => 'mapstatus',
			:with => "'latitude=' + latitude + '&longitude=' + longitude + '&zoom=' + zoom",
			:failure => "alert('HTTP Error ' + request.status + '!')"
		 %>	
		</div>
	<% end %>

    <% content_for :javascripts do %>
		<%= GMap.header :host => request.host, :with_vml => false -%>
		<script type="text/javascript">
			//<![CDATA[
			var map, marker;
			var point, latitude, longitude, zoom;
			window.onload = addCodeToFunction(window.onload,function() {
				if (GBrowserIsCompatible()) {
					map = new GMap2(document.getElementById("_sidebarMap"));
					point = new GLatLng(<%= @asset.latitude %>, <%= @asset.longitude %>);
					
					<% if current_user.is_admin? %>
						marker = new GMarker(point, {draggable : true});
					<% else %>
						marker = new GMarker(point);
					<% end %>					
					
					map.setCenter(point, <%= @asset.map_zoom_level %>);
					map.addOverlay(marker);
					
					<% if current_user.is_admin? %>					
						updateMapStatus();
						GEvent.addListener(marker, "dragend", 
							function(latLng) {
								updateMapStatus();
							}
						);
					
						GEvent.addListener(map, "zoomend", 
							function(oldLevel, newLevel) {
								updateMapStatus()
							}
						);
					<% end %>
					map.addControl(new GSmallMapControl());
					map.addControl(new GMapTypeControl());
				}
			});
			
			function updateMapStatus() {
				var latLng = marker.getLatLng();
				latitude = latLng.lat();
				longitude = latLng.lng();
				zoom = map.getZoom();
				$('mapstatus').innerHTML = "Lat: " + latitude.toFixed(3) + "; Lng: " + longitude.toFixed(3) + "; Zoom: " + zoom;
			}
			//]]>
		</script>
	<% end %>
<% end %>	


