<% images = @gallery.images.viewable_by(current_user).published.published_in(publication) %>

<% content_for :javascripts do %>
	<%= javascript_include_merged :lightview %>
<% end %>

<% content_for :head do %>
	<%= stylesheet_link_merged :lightview %>	
<% end %>

<div id='gallery_links' style='display:none' >
	<% images.each do |i| %>
		<a id='<%= "gallery_#{i.id}" -%>' href='<%= serve_image_url(i.name, :type => :full) -%>'
			 class='lightview' title='<%= i.title -%>' rel='gallery[myset]' >
			<%= i.title -%>
		</a>
	<% end %>
</div>
<h4>Actions:</h4>
<ul>
	<li>	
		<%= link_to_function "#{image_tag("/images/icons/photo.png")} Play Slideshow" do |page|
				page << "Lightview.show('gallery_#{images.first.id}')"
			end
		 %>
	</li>
	<li>
		<%= link_to "#{image_tag("/images/icons/photo.png")} Show gallery in Google Maps", 
					"http://maps.google.com/?q=" + h(formatted_gallery_url(@gallery, :kml)) %>
	</li>
	<li>
		<%= link_to "#{image_tag("/images/icons/photo.png")} Download kml file for this gallery", 
					h(formatted_gallery_url(@gallery, :kml)) %>
	</li>
	<li>
		<%= link_to "#{image_tag("/images/icons/photo.png")} Subscribe to this gallery (media rss)", 
					h(formatted_gallery_url(@gallery, :rss)) %>
	</li>	
</ul>	

	

