<h4>Bookmark it:</h4>
<ul>
	<li>
		<a href="http://delicious.com/post" 
				onclick="window.open('http://delicious.com/post?v=5&amp;noui&amp;jump=close&amp;url=<%= h polymorphic_url(@object) %>&amp;title=<%= h page_title %>',
				'Delicious','toolbar=no,width=550,height=550');
				return false;">
			<%= image_tag("/images/social/delicious_32x32.png") %> Add to Delicious
		</a>
	</li>
	<li>
		<a href="http://digg.com/submit?phase=2&amp;url=<%= h polymorphic_url(@object) %>&amp;title=<%= h @object.title %>"
				onclick="window.open('http://digg.com/submit?phase=2&amp;url=<%= h polymorphic_url(@object) %>&amp;title=<%= h @object.title %>',
				'Digg','toolbar=no,width=950,height=850');
				return false;">
			<%= image_tag("/images/social/digg_32x32.png") %> Digg it
		</a>
	</li>
	
	<li>
		<a href="http://www.stumbleupon.com/submit?url=<%= h polymorphic_url(@object) %>&amp;title=<%= h page_title %>"
				onclick="window.open('http://www.stumbleupon.com/submit?url=<%= h polymorphic_url(@object) %>&amp;title=<%= h page_title %>',
				'StumbleUpon','toolbar=no,width=750,height=700');
				return false;">			
			<%= image_tag("/images/social/Stumbleupon_32x32.png") %> StumbleUpon
		</a>
	</li>

<!-->	
	<li>
		<a href='http://ma.gnolia.com/bookmarks/add' 
				onclick="var w=window.open('http://ma.gnolia.com/bookmarklet/marker/add?url=<%= h polymorphic_url(@object) %>&amp;title=<%= h page_title %>',
				'magnolia','scrollbars=0,status=0,resizable=1,location=0,toolbar=0,width=340,height=300');
				(function(){setTimeout('w.focus()',1000);})();return false;">
			<%= image_tag("/images/social/Magnolia_32x32.png") %> Add to Magnolia
		</a>
	</li>
-->	
</ul>