<%
	sidebar :asset_search
	sidebar :article_categories
	sidebar :image_tag_cloud
%>
<div id="_article"
	<h2>User login</h2>
	<% form_tag(sessions_path, :id => "_formEdit") do -%>
		<h3>Please enter your login credentials or OpenID Identity URL</h3>
		<div class="_formField">
			<label for="login">Login:</label>
			<%= text_field_tag 'login', nil, :class => "_formText" %>
		</div>

		<div class="_formField">
			<label for="password">Password:</label>
			<%= password_field_tag 'password', nil, :class => "_formText" %>
		</div>
			
		<!-- <div class="_formField">
			<label for="openid_url"><%= image_tag('icons/openid_small_logo_black.gif') %> OpenID URL:</label>
			<%= text_field_tag 'openid_url', nil, :size => 40, :class => "_formText" %>
		</div> -->
		
		<div class="_formField">
			<label for="remember_me">Remember me?</label>
			<%= check_box_tag 'remember_me', nil, :class => "_formText" %>
		</div>

		<%= submit_tag 'Log in' %>
	<% end -%>
</div>	
