<div class="_article">
	<h2>Add Comment</h2>
	<div class="_comment" id="_form">
	<% hermes_form_for :comment, :url => comments_url, :html => {:method => :post, :id => "_formEdit"} do |form| %>
		<%= hidden_field_tag :asset_id, comment_form.asset_id, :name => "comment[asset_id]"  %>
		<% unless logged_in? %>
			<%= form.text_field "Name", :created_by_name, :size => 55 %>
			<%= form.text_field "Email", :created_by_email, :size => 55 %>
		<% end %>
		<%= form.text_area "Comment", :content, :size => "53x5" %>
		<%= submit_tag "Submit" %>
	<% end %>
	</div>
</div>	