<%
	sidebar :asset_search
	sidebar :image_random
	sidebar :asset_map if @asset && @asset.mappable?
%>
<div id="_form">
<%= render :partial => "shared/form_heading", :locals => {:asset => @publication} %>
<% hermes_form_for :publication, :url => get_url(publication), :html => {:method => get_method, :id => "_formEdit"} do |form| %>

	<h3>Profile</h3>
	<%= form.text_field :title, :disabled => is_show?, :size => 46 %>
	<%= form.text_area :description, :disabled => is_show?, :size => "44x5" %>
	<%= form.text_field :tag_list, :disabled => is_show?, :size => 46 %>
		
	<h3>Publication domain</h3>
	<%= form.text_field :domain, :disabled => is_show?, :size => 30 %>
	<%= form.text_field :admin_email, :disabled => is_show?, :size => 30 %>
	<%= form.text_field :copyright_notice, :disabled => is_show?, :size => 45 %>	
	<%= form.check_box :default_publication, :disabled => is_show? %>

		
	<h3>Options</h3>
	<%= form.text_field :articles_per_page, :disabled => is_show?, :size => 5%>
	<%= form.text_field :theme, :disabled => is_show?, :size => 20 %>
	
	<h3>Comments</h3>
	<%= form.select :allow_comments, Asset::ALLOW_COMMENTS, {}, :disabled => is_show? %>
	<%= form.check_box "Require login", :comments_require_login, :disabled => is_show? %>
	<%= form.check_box "Moderate", :moderate_comments, :disabled => is_show? %>

	<h3>Status</h3>
	<%= form.select "status", :publish_status, Asset::STATUS, {:size => 20}, {:disabled => is_show?} %>
	<%= form.text_field "status description", :publish_status_description, :disabled => is_show?, :size => 46 %>	
	
	<h3>EMail submission</h3>
	<%= form.text_field :pop_server, :disabled => is_show?, :size => 40 %>
	<%= form.text_field :port_number, :disabled => is_show?, :size => 10 %>
	<%= form.text_field :email_userid, :disabled => is_show?, :size => 20 %>
	<%= form.text_field :email_password, :disabled => is_show?, :size => 30 %>

	<h3>Google Information</h3>
	<%= form.text_field :google_analytics, :disabled => is_show?, :size => 30 %>
	<%= form.text_field :google_maps, :disabled => is_show?, :size => 30 %>
		
	<h3>Location</h3>
	<%= form.text_field :location, :disabled => is_show?, :size => 30 %>
	<%= form.text_field :city, :disabled => is_show?, :size => 30 %>
	<%= form.text_field "State/Province", :state, :disabled => is_show?, :size => 30 %>

	<% if is_show? %>
		<%= form.text_field :country, :disabled => is_show?, :size => 30 %>
	<% else %>
		<%= form.select :country, Country.select_array, :include_blank => true  %>
	<% end %>

	<%= form.text_field :latitude, :disabled => is_show?, :size => 10 %>	
	<%= form.text_field :longitude, :disabled => is_show?, :size => 10 %>	
	
	<%= submit_tag "Save changes" %>

<% end %>

</div>
