<%
	sidebar :asset_search
	sidebar :articles_subscribe
	sidebar :article_categories
	sidebar :image_tag_cloud
	sidebar :image_random
%>
<% content_for :head do %>
	<%= "<meta name=\"description\" content=\"#{h publication.description}\" />" %>
	<%= "<meta name=\"author\" content=\"#{h publication.created_by.full_name}\" />" if publication.created_by.full_name %>
	<%= "<meta name=\"copyright\" content=\"#{h publication.copyright_notice}\" />" if publication.copyright_notice %>
	<%= "<meta name=\"keywords\" content=\"#{h publication.tag_list}\" />" unless publication.tag_list.blank? %>
	<%= "<meta name=\"date\" content=\"#{h Asset.maximum('updated_at').iso8601}\" />" %>
	<%= auto_discovery_link_tag(:rss, formatted_articles_url(params.remove("page").merge(:format => "rss"))) %>
	<%= auto_discovery_link_tag(:atom, formatted_articles_url(params.remove("page").merge(:format => "atom"))) %>
<% end %>

<div id="articles">
  <%= render :partial => "articles" %>
</div>
<p id="loading" style="display:none;">Loading more articles now...</p>

<% content_for :footnote do %>
  <noscript>
    <%= render :partial => "shared/page_numbers", :locals => {:collection => @articles} %>
  </noscript>
<% end %>  
