<%
	sidebar_clear
	sidebar :asset_search
	sidebar :article_categories
	sidebar :image_tag_cloud
	sidebar :image_random
%>
<% content_for :head do %>
	<%= auto_discovery_link_tag(:rss, formatted_articles_url(params.remove("page").merge(:format => "rss"))) %>
	<%= auto_discovery_link_tag(:atom, formatted_articles_url(params.remove("page").merge(:format => "atom"))) %>
<% end %>

<% if @articles %>
	<% for article in @articles -%>
	    <div id="<%= 'article_' + article.id.to_s -%>" class="_article" >
		  <h2><%= link_to article.title, article %></h2>
		  <%= render :partial => "article_byline", :locals => {:article => article} -%>
		  <%= render :inline => article.description -%>
		  <%= link_to "More&hellip;", article %>
		  <%= render(:partial => "article_footer", :locals => {:article => article}) -%>
	    </div>	
	<% end %>
<% end %>