<%
	sidebar_clear
	sidebar :asset_search
	sidebar :image_tag_cloud
	sidebar :asset_map if @article.mappable?
%>

<div id="<%= "article_#{@article.id}" %>" class="_article" >
	<h2><%= @article.title -%></h2>
	<%= render :partial => "article_byline", :locals => {:article => @article} -%>
	<%= render :inline => @article.full_content -%> 
	<%= render :partial => "article_footer", :locals => {:article => @article } -%>
</div>

<%= render :partial => "comments/show", :object => @article %>