<%
	sidebar_clear
	sidebar :asset_search
	sidebar :social_bookmarks
	sidebar :image_tag_cloud
	sidebar :asset_map if @article.mappable?
%>

<% content_for :head do %>
	<%= "<meta name=\"description\" content=\"#{h @article.description}\" />" %>
	<%= "<meta name=\"author\" content=\"#{h @article.created_by.full_name}\" />" if @article.created_by.full_name %>
	<%= "<meta name=\"keywords\" content=\"#{h @article.tag_list}\" />" unless @article.tag_list.blank? %>
	<%= "<meta name=\"date\" content=\"#{h @article.updated_at.iso8601}\" />" %>
<% end %>	

<div id="<%= "article_#{@article.id}" %>" class="_article" >
	<h2><%= @article.title -%></h2>
	<%= render :partial => "article_byline", :locals => {:article => @article} -%>
	<%= render :inline => @article.full_content -%> 
	<%= render :partial => "article_footer", :locals => {:article => @article } -%>
</div>

<%= render :partial => "comments/show", :object => @article %>