<div id="_form">
<%= render :partial => "shared/form_heading", :locals => {:asset => @user} %>
<% hermes_form_for :user, :url => get_url(@user), :html => {:method => get_method, :id => "_formEdit"} do |form| %>
	<h3>Name and profile</h3>
	<%= form.text_field :login, :disabled => is_show?, :size => 20 %>
	<%= form.text_field :given_name, :disabled => is_show?, :size => 40 %>
	<%= form.text_field :family_name, :disabled => is_show?, :size => 40 %>	
	<%= form.text_field :email, :disabled => is_show?, :size => 40 %>
	<%= form.text_area :profile, :disabled => is_show?, :size => "40x5" %>
	
	<% if is_show? %>
		<%= form.text_field :birthday, :disabled => is_show?, :size => 30 %>
	<% else %>
		<%= form.date_select :birthday, :include_blank => true  %>
	<% end %>
	
	<h3>Public preferences</h3>
    <%= form.file_field :photo, :disabled => is_show?, :size => 50 %>	
	<%= form.check_box :show_profile, :disabled => is_show? %>
    <%= form.check_box :show_photo, :disabled => is_show? %>
	
	<h3>Content rating (information you can see)</h3>
	<%= form.select(:content_rating, ContentRating.find(:all).collect {|p| [ p.name, p.rating ] }, :disabled => is_show?) %>
	
	<h3>Location</h3>
	<%= form.text_field :city, :disabled => is_show?, :size => 30 %>
	
	<% if is_show? %>
		<%= form.text_field :country, :disabled => is_show?, :size => 30 %>
	<% else %>
		<%= form.select :country, Country.select_array, :include_blank => true, :disabled => is_show?  %>
	<% end %>

	<%= form.text_field :latitude, :disabled => is_show?, :size => 10 %>	
	<%= form.text_field :longitude, :disabled => is_show?, :size => 10 %>
	
	<h3>Site preferences</h3>
	<%= form.text_field :display_theme, :disabled => is_show?, :size => 20 %>

	<% if is_show? %>
		<%= form.text_field :time_zone, :disabled => is_show?, :size => 20 %>
	<% else %>
		<%= form.time_zone_select :time_zone, nil, :disabled => is_show?, :size => 20 %>
	<% end %>
	<%= form.text_field :locale, :disabled => is_show?, :size => 20 %>
	
	<p>
	<% if is_show? %>
		<%= link_to("Go back", back_link) %>
	<% else %>
		<%= submit_tag "Save changes" %>
	<% end %>
	</p>
	
<% end %>

</div>
