<%
	if image.orientation == "p"
		height = image.height / 3
		width = image.width / 3
	else
		height = image.height / 2
		width = image.width / 2
	end
	
	case image.geocode_method
		when Asset::GEO_GOOGLE 
			msg = "Geocoded by Google - location accuracy is to the #{Google_geocode_accuracy[image.geocode_accuracy]} level only."
	    when Asset::GEO_GPS
	    	msg = "Geocoded from a GPS tracklog - accuracy usually within 3m."
		when Asset::GEO_MANUAL 
			msg = "Geocoded by manual entry - accuracy usually to the Premise level."
		else
			msg = ""
	end
%>
<p>
	<a href=<%= image_url(image) %> >
		<img src="<%= serve_image_link(image, :type => :display) %>" height=<%= height %>px width=<%= width %>px >
	</a>
</p>
<p>
	<%= render_description image %>
<p>
	<i>
		<%= msg %>
	</i>
</p>
