<%
	sidebar	:asset_search
	sidebar :galleries_subscribe
	sidebar :galleries_recent
	sidebar :galleries_popular
%>
<% content_for :head do %>
	<%= "<meta name=\"description\" content=\"#{h publication.description}\" />" %>
	<%= "<meta name=\"author\" content=\"#{h publication.created_by.full_name}\" />" if publication.created_by.full_name %>
	<%= "<meta name=\"copyright\" content=\"#{h publication.copyright_notice}\" />" if publication.copyright_notice %>
	<%= "<meta name=\"keywords\" content=\"#{h publication.tag_list}\" />" unless publication.tag_list.blank? %>
	<%= "<meta name=\"date\" content=\"#{h Asset.maximum('updated_at').iso8601}\" />" %>
	<%= auto_discovery_link_tag(:rss, formatted_galleries_url(params.remove("page").merge(:format => "rss"))) %>
	<%= auto_discovery_link_tag(:atom, formatted_galleries_url(params.remove("page").merge(:format => "atom"))) %>
<% end %>
	
<div class='_article'>
	<% category = params[:category] ? params[:category].capitalize + " " : "" %>
	<h2><%= "#{category}Gallery Index" -%></h2>
	<%= render :partial => "shared/page_numbers", :locals => {:collection => @galleries} %>
	<div id="_allGalleries" class="_thumbnailList clearfix">
		<% @galleries.each do |g| %>
			<%= render :partial => "images/slide", :locals => {:image => g.popular_image(current_user), 
				:caption => g.title, :gallery => g} %>
		<% end %>
	</div>
</div>
