<%
    sidebar_clear  
	sidebar :gallery_slideshow
%>

<% content_for :javascripts do %>
	<%= javascript_include_tag "scriptaculous.js" %>
	<%= javascript_include_tag "lightview.js" %>
<% end %>

<div class='_article clearfix'>
	<h2><%= @gallery.title %> Gallery</h2>
	<% images = @gallery.images.viewable_by(current_user).find(:all, :page => {:size => controller.page_size, 
		:current => params[:page]}) %>
	<%= render :partial => "shared/page_numbers", :locals => {:collection => images} %>
	<div id="_thumbnailList" class="_thumbnailList">
		<% images.each do |i| %>
			<%= render :partial => "images/slide", :locals => {:image => i} %>
		<% end %>
	</div>
</div>