<%
	sidebar	:asset_search
	sidebar :gallery_actions
	sidebar :asset_map if (@asset.latitude && @asset.longitude)
%>

<% content_for :head do %>
	<%= "<meta name=\"description\" content=\"#{h @gallery.description}\" />" %>
	<%= "<meta name=\"author\" content=\"#{h @gallery.created_by.full_name}\" />" if @gallery.created_by.full_name %>
	<%= "<meta name=\"keywords\" content=\"#{h @gallery.tag_list}\" />" unless @gallery.tag_list.blank? %>
	<%= "<meta name=\"date\" content=\"#{h @gallery.updated_at.iso8601}\" />" %>
	<%= stylesheet_link_merged :lightview %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_merged :lightview %>
<% end %>

<% images = @gallery.images.published_in(publication).published.viewable_by(current_user) \
	.find(:all, :page => {:size => controller.page_size, :current => params[:page]}) %>

<div class='_article'>
	<h2><%= @gallery.title %></h2>
	<%= render :partial => 'articles/article_byline', :locals => {:article => @gallery} -%>
	<%= render :partial => "shared/page_numbers", :locals => {:collection => images} %>
	<%= render :inline => @gallery.description -%>
	<p></p>
	<div id="_thumbnailList" class="_thumbnailList clearfix">
		<% images.each do |i| %>
			<%= render :partial => "images/slide", :locals => {:image => i} %>
		<% end %>
	</div>
</div>