<%
	sidebar	:asset_search
	sidebar :gallery_actions
	sidebar :asset_map if (@asset.latitude && @asset.longitude)
%>

<% content_for :javascripts do %>
	<%= javascript_include_tag "scriptaculous.js" %>
	<%= javascript_include_tag "lightview.js" %>
<% end %>

<% images = @gallery.images.published_in(publication).published.viewable_by(current_user) \
	.find(:all, :page => {:size => controller.page_size, :current => params[:page]}) %>

<div class='_article'>
	<h2><%= @gallery.title %></h2>
	<%= render :partial => 'articles/article_byline', :locals => {:article => @gallery} -%>
	<%= render :partial => "shared/page_numbers", :locals => {:collection => images} %>
	<%= render :inline => @gallery.description -%>
	<p></p>
	<div id="_thumbnailList" class="_thumbnailList clearfix">
		<% images.each do |i| %>
			<%= render :partial => "images/slide", :locals => {:image => i} %>
		<% end %>
	</div>
</div>