<%
	sidebar	:asset_search
	sidebar :gallery_actions
	#sidebar :social_bookmarks
	sidebar :asset_map if @asset.mappable? 
%>

<% content_for :head do %>
	<%= "<meta name=\"description\" content=\"#{h @gallery.description}\" />" %>
	<%= "<meta name=\"author\" content=\"#{h @gallery.created_by.full_name}\" />" if @gallery.created_by.full_name %>
	<%= "<meta name=\"keywords\" content=\"#{h @gallery.tag_list}\" />" unless @gallery.tag_list.blank? %>
	<%= "<meta name=\"date\" content=\"#{h @gallery.updated_at.iso8601}\" />" %>
	<%= stylesheet_link_merged :lightview %>
<% end %>

<div class='_article'>
	<h2><%= @gallery.title %></h2>
	<%= render :partial => 'articles/article_byline', :locals => {:article => @gallery} -%>
	<p><%= render :inline => @gallery.description -%></p>
	<div id="gallery" class="_thumbnailList clearfix">
	  <%= render :partial => "images/images" %>
	</div>
	<p id="loading" style="display:none;">Loading more gallery images now...</p>
</div>

<%= render :partial => "comments/show", :object => @gallery %>

<% content_for :footnote do %>
  <noscript>
    <%= render :partial => "shared/page_numbers", :locals => {:collection => @images} %>
  </noscript>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'scriptaculous' %>
  <% if @gallery.can_update?(current_user) %>
    <%= sortable_element("gallery", :tag => "div", :constraint => false, :url => { :action => "order" }) %>
  <% end %>
  <%= javascript_include_tag 'lightview' %>
<% end %>
