<div id="image_<%= image.id -%>" class="_articleImage">
	<a href="<%= image_url(image) -%>" title="<%= image.title -%>" >
		<img alt="<%= h(image.title) -%>" title="<%= h(image.title) -%>"
			src="<%= serve_image_link(image, :type => :display) -%>" />
	</a>
	<p class="caption"><%= image.display_caption %></p>
</div>