<!-- This partial formulates the html for an image view -->
<div id="image_<%= image.id -%>" class="_articleImage">
	<a href="<%= serve_image_link(image, :type => :full) -%>" class='lightview' title="<%= image.title -%>" >
		<img alt="<%= image.title -%>" title="<%= image.title -%>"
			src="<%= serve_image_link(image, :type => :display) -%>" />
	</a>
	<p><%= image.display_caption %></p>
</div>
<p><%= render :inline => image.description -%></p>
