<% if image %>
	<% gallery = gallery rescue nil %>
	<% caption = caption rescue nil %>
	<% url = gallery ? gallery_path(gallery) : image_path(image) %>
	<% display_caption = (caption || image.title).truncate(30, "&hellip;") %>
	<% description = gallery ? gallery.description : image.description %>
	<% link_as = image.catalog.link_as %>
	<div id="image_<%= image.id -%>" class="_thumbnail" >		
		<% if current_user.is_admin? %>
			<div class="_count"><%= image.view_count %></div>
		<% end %>
		<a href="<%= url -%>" >
			<img alt="<%= h(image.title) -%>" title="<%= h(image.title) -%>"
				src="<%= serve_image_link(image, :type => :slide) -%>" />
		</a>
		<p class="caption"><%= display_caption %></p>
	</div>	
<% end %>	
