<% if image -%>
	<% gallery = gallery rescue nil -%>
	<% caption = caption rescue nil -%>
	<% url = gallery ? gallery_url(gallery) : image_url(image) -%>
	<% long_caption = (caption ? caption : image.title) -%>
	<% display_caption = long_caption.truncate(25) -%>
	<% description = gallery ? gallery.description : image.description -%>
	<% link_as = image.catalog.link_as -%>
	<div id="image_<%= image.id -%>" class="<%= (image.orientation == 'p' ? '_thumbsmall_p' : '_thumbsmall_l') -%>" >
		<a href="<%= url -%>" >
			<img alt="<%= long_caption -%>" title="<%= long_caption -%>"
				src="<%= serve_image_url(image, :type => :thumbnail) -%>" />
		</a>
	</div>
<% end -%>
