<% 
	sidebar :asset_search
	sidebar :image_tag_cloud
	sidebar :image_random
%>
<% content_for :head do %>
	<%= "<meta name=\"description\" content=\"#{h publication.description}\" />" %>
	<%= "<meta name=\"author\" content=\"#{h publication.created_by.full_name}\" />" if publication.created_by.full_name %>
	<%= "<meta name=\"copyright\" content=\"#{h publication.copyright_notice}\" />" if publication.copyright_notice %>
	<%= "<meta name=\"keywords\" content=\"#{h publication.tag_list}\" />" unless publication.tag_list.blank? %>
	<%= "<meta name=\"date\" content=\"#{h Asset.maximum('updated_at').iso8601}\" />" %>
	<%= auto_discovery_link_tag(:rss, formatted_images_url(params.remove("page").remove("action").merge(:format => "rss"))) %>
	<%= auto_discovery_link_tag(:atom, formatted_images_url(params.remove("page").remove("action").merge(:format => "atom"))) %>
<% end %>

<div class="_article clearfix">
	<h2><%= formatted_index_heading -%></h2>
	<%= render :partial => "shared/page_numbers", :locals => {:collection => @images} %>
	<div id="_thumbnailList" class="_thumbnailList">
		<% @images.each do |i| %>
			<%= render :partial => "slide", :locals => {:image => i} %>
		<% end %>
	</div>
</div>