<%
	sidebar	:asset_search
	sidebar :image_data
	sidebar :image_actions if @asset.mappable?
	sidebar :social_bookmarks
	sidebar :image_gallery_list unless (@galleries = @image.galleries.viewable_by(current_user)).empty?
	sidebar :asset_map if @asset.mappable?
%>

<% content_for :javascripts do %>
	<%= javascript_include_merged :lightview %>
<% end %>

<% content_for :head do %>
	<%= "<meta name=\"description\" content=\"#{h @image.description}\" />" %>
	<%= "<meta name=\"author\" content=\"#{h @image.created_by.full_name}\" />" if @image.created_by.full_name %>
	<%= "<meta name=\"copyright\" content=\"#{h @image.copyright_notice}\" />" if @image.copyright_notice %>
	<%= "<meta name=\"keywords\" content=\"#{h @image.tag_list}\" />" unless @image.tag_list.blank? %>
	<%= "<meta name=\"date\" content=\"#{h @image.updated_at.iso8601}\" />" %>
	<%= stylesheet_link_merged :lightview %>
<% end %>

<div class="_article">
	<%= render :partial => "image", :locals => {:image => @image} %>
</div>

<%= render :partial => "comments/show", :object => @image %>