<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title><%= page_title rescue publication.title -%></title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/png" href="/hermes.png" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="<%= formatted_apis_assets_url :xml %>" />
	<link rel="pingback" href="<%= xmlrpc_url %>" />
	<%= stylesheet_link_theme %>
	<%= yield :head %>	
</head>

<body id="_body">
<div id="_wrapper">
  <div id="_header">
     <h1><%= publication.title -%></h1> 
	 <div id="_navigation">
	  		<a href="<%= root_path -%>" >Home</a>
 			|   <a href="<%= galleries_path -%>" >Galleries</a>
 			|   <a href="<%= images_path -%>" >Images</a>
 			|   <a href="<%= world_maps_path -%>" >Maps</a>
			|	<a href="<%= about_publication_path(Publication.current) -%>">About</a>
 			|   <a href="<%= contact_publication_path(Publication.current) -%>">Contact</a>
 			|   <a href="<%= signup_path %>" >Signup</a>
 			|   <%= logged_in? ? "<a href=\"#{logout_path}\" >Logout '#{current_user.login}'</a>" : 
								 "<a href=\"#{login_path}\" >Login</a>" -%>
 	  </div>
	  <!-- <p><%= request.env["HTTP_USER_AGENT"] %></p> -->
  </div>
  <div id="_content">
  	<%= yield %>
  </div>
  
  <% if flash.length > 0 || controller.sidebars.length > 0 %>	
	  <div id="_sidebar">
	    <ol id="_sidebarList">
			<% if flash[:notice] -%>
				<li class="_sidebarContent red">
					<%= flash[:notice] %>
				</li>
			<% end %>
			<%= render_sidebars %>
	    </ol>
	  </div>
  <% end %>

  <div id="_footer">
	<p>
		<%= Publication.current.copyright_notice rescue "" %> <br />
		<a href="http://technorati.com/faves?sub=addfavbtn&amp;add=<%= root_url %>">			
			<%= image_tag("/images/social/Technorati_32x32.png") %> Add to Technorati Favorites
		</a> |
		<a href="<%= privacy_publication_path(Publication.current) -%>">Privacy Policy</a> |
		<a href="<%= terms_publication_path(Publication.current) -%>">Terms of Service</a>
	</p>
  </div>
</div>
<%= javascript_include_merged :base %>	
<%= yield :javascripts %>
<%= render :partial => 'shared/google_analytics' %>
</body>
</html>
