<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<%= stylesheet_link_tag("#{@publication.theme}.css") %>
<%= stylesheet_link_tag('lightview.css') %>
<%= yield :head %>

<title><%= page_title rescue @publication.title -%></title>
</head>

<body>
<%= javascript_include_tag :defaults %>
<%= yield :javascripts %>

<div id="_wrapper">
  <div id="_header">
     <h1><%= @publication.title -%></h1> 
	 <div id="_navigation">
	  		<a href="<%= root_url -%>" >Home</a>
 			|   <a href="<%= galleries_url -%>" >Galleries</a>
 			|   <a href="<%= images_url -%>" >Images</a>
 			|   <a href="<%= world_maps_url -%>" >Maps</a>
			|	About
 			|   Contact
 			|   Signup
 			|   <%= logged_in? ? "<a href=\"#{logout_url}\" >Logout #{current_user.full_name}</a>" : 
								 "<a href=\"#{login_url}\" >Login</a>" -%>
 	  </div>
  </div>
  <div id="_content">
  	<%= yield %>
  </div>
  
  <div id="_sidebar">
    <ol id="_sidebarList">
		<% if flash[:notice] -%>
			<li class="_sidebarContent red">
				<%= flash[:notice] %>
			</li>
		<% end %>
		<%= render_sidebars %>
    </ol>
  </div>  

  <div id="_footer">
    All content Copyright (c) Kip Cole 2004-2008. No content may be copied, stored or used without written permission.
  </div>
</div>

</body>
</html>
