<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title><%= page_title rescue publication.title -%></title>
	<%= yield :head %>
	<link rel="icon" type="image/png" href="/hermes.png" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="<%= formatted_apis_assets_url :xml %>" />
	<%= stylesheet_link_merged :base %>
	<%= javascript_include_merged :base %>
</head>

<body>
<div id="_wrapper">
  <div id="_header">
     <h1><%= publication.title -%></h1> 
	 <div id="_navigation">
	  		<a href="<%= root_url -%>" >Home</a>
 			|   <a href="<%= galleries_url -%>" >Galleries</a>
 			|   <a href="<%= images_url -%>" >Images</a>
 			|   <a href="<%= world_maps_url -%>" >Maps</a>
			|	<a href="<%= about_publication_url(Publication.current) -%>">About</a>
 			|   <a href="<%= contact_publication_url(Publication.current) -%>">Contact</a>
 			|   <a href="<%= signup_url %>" >Signup</a>
 			|   <%= logged_in? ? "<a href=\"#{logout_url}\" >Logout '#{current_user.login}'</a>" : 
								 "<a href=\"#{login_url}\" >Login</a>" -%>
 	  </div>
  </div>
  <div id="_content">
  	<%= yield %>
  </div>
  
  <div id="_sidebar">
    <ol id="_sidebarList">
		<% if flash[:notice] -%>
			<li class="_sidebarContent red">
				<%= flash[:notice] %>
			</li>
		<% end %>
		<%= render_sidebars %>
    </ol>
  </div>  

  <div id="_footer">
	<%= Publication.current.copyright_notice rescue "" %>
  </div>
</div>

<%= yield :javascripts %>
<%= render :partial => 'shared/google_analytics' %>
</body>
</html>
